.container {
  margin-top: 60px;
  display: grid;
  gap: 20px;
}

h4 {
  margin-top: 6px;
}

form {
  display: grid;
  gap: 20px;
}

.password {
  position: relative;
  display: flex;
  align-items: center;
}

.password button {
  position: absolute;
  right: 11px;
  font-weight: 400;
  font-size: 14px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #00000060;
}

.criteria {
  color: #00000060;
  display: grid;
  gap: 12px;
  margin-top: 16px;
}

ul {
  display: grid;
  gap: 12px;
}
li {
  display: flex;
  gap: 12px;
}

button{
  margin-top: 20px;
}