.snapshot {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.image {
  background: url('../images/car.jpg');
  width: 64px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.available {
  background-color: #017401;
  padding: 3px 12px;
  color: white;
  display: block;
  width: fit-content;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 6px;
}

.summary {
  display: grid;
  gap: 8px;
  margin-top: 8px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: grid;
  gap: 16px;
  margin-top: 8px;
}

.input {
  border: 1px solid #D0D5DD;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  gap: 8px;
  outline: none;
  width: 100%;
  padding: 0 14px;
}

.input p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.input input {
  border: none;
  padding: none;
}


.flex.secondary-btn {
  justify-content: space-between;
  font-weight: 600;
  padding-right: 0;
  padding-left: 0;
}

.flex p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.billing {
  display: grid;
  gap: 16px;
  margin-top: 8px;
}

a.primary-btn {
  margin-top: 20px;
}