@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #022F8E;
  --secondary-color: #F2F2F2;
  /* --tertiary-color: # */
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100dvh;
}

main {
  position: relative;
  height: 100%;
  margin: 0 24px;
  padding: 24px 0;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  accent-color: var(--primary-color);
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18.6px;
  font-style: italic;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

p {
 font-weight: 400;
 font-size: 14px;
}

.text-center {
  text-align: center;
}

.secondary-btn {
  background-color: #022F8E10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.tertiary-btn{
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  background: none;
  cursor: pointer;
}

.primary-btn {
  color: white;
  background: var(--primary-color);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.primary-btn:disabled {
  background-color: #022F8E50 ;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

input, .input {
  border: 1px solid #D0D5DD;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  gap: 8px;
  outline: none;
  width: 100%;
  background-color: white;
  padding: 10px 14px;
}

.input > input {
  border: none;
  padding: 0;
}

/* input:hover, input:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
} */

input::placeholder {
  color: #00000050;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: none;
  width: fit-content;
  height: fit-content;
}

.blue {
  color: var(--primary-color)
}

.gray {
  color: #00000060;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #D0D5DD;
}

.toggle-background{
  border-radius: 9999px;
  background: var(--primary-color);
  width: 44px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 4px;
}

.switch {
  background: white;
  border-radius: 9999px;
  aspect-ratio: 1;
  width: 16px;
}

.toggle-background.false {
  justify-content: flex-start;
  background-color: #00000050;
}

.paragraph {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.paragraph span {
  height: 20px;
}

.available {
  background-color: #017401;
  padding: 3px 12px;
  color: white;
  display: block;
  width: fit-content;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 6px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.grid {
  display: grid;
}

.content-center {
  place-content: center;
}

.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-20 {
  gap: 20px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.rounded-sm {
  border-radius: 8px;
}
.rounded-md {
  border-radius: 12px;
}
.rounded-lg {
  border-radius: 20px;
}

.range{
  background-color: #595D62;
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  margin-top: 4px;
}

.value {
  height: 8px;
  background: var(--primary-color);
  width: 5%;
  border-radius: 9999px;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.object-cover {
  object-fit: cover;
}

.object-center {
  object-position: center;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.car-option {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #00000060;
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
}

.car-option >.check {
  display: none;
}

.car-option.selected {
  background: #022F8E10;
  border: none
}

.car-option.selected > .check {
  display: block;
}

.checkmark {
  background: #00000060;
  display: grid;
  place-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 20px;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 20px;
  height: 20px;
  background-color: #017401;
}

.checkbox {
  border: 1px solid #00000060;
  display: grid;
  place-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 24px;
  height: 24px;
}

.checkbox.checked {
  background-color: var(--primary-color);
  border: none;
}

.upload-container {
  border: 1px dashed #00000060;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 8px;
  display: grid;
  place-content: center;
}

.select-options {
  padding: 8px;
  background-color: white;
  box-shadow: 5px 5px 10px #00000010;
  display: grid;
  gap: 12px;
}

.confetti {
  background: url('../images/confetti.png');
  background-repeat: no-repeat;
}



/* Chatbot pages */
.chat-nav {
  display: flex;
  background-color: white;
  position: fixed;
  text-align: center;
  align-items: center;
  width: 100%;
  left: 0;
  padding: 24px;
}

.chat-title {
  display: grid;
  place-content: center;
  width: 100%;
  margin-left: -20px;
}

.chat-area {
  overflow-y: scroll;
}

.icon-bar {
  margin-top: 60px;
  display: grid;
  place-content: center;
}

.icon-bar > img {
  margin: 8px auto;
}

.chat {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  flex-direction: column;
}

.message {
  padding: 8px;
  display: grid;
  gap: 8px;
  border-radius: 8px;
  width: 60%;
}

.message.bot {
  background-color: #022F8E10;
  color: black;
}

.message.user {
  background-color: var(--primary-color);
  color: white;
  align-self: flex-end;
}

.message.user>div {
  display: none;
}

.message-area {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-bottom: 24px;
  width: 100%;
}

.suggestions-area {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.no-padding {
  padding: 0 24px;
  margin: 0;
}

.main-wrapper {
  padding: 24px 0;
}

.flex-wrap {
  flex-wrap: wrap;
}





/* services listing */
.ribbon {
  background: url('../images/ribbon.png');
}

.bg-fade {
  background-color: #ffffffe4;
  height: 100%;
  display: grid;
  place-content: center;
  gap: 20px;
  padding: 36px 24px; 
}

.wrap-box {
  padding: 20px;
  display: grid;
  gap: 20px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 0px 10px #00000050;
}

.card {
  background-color: white;
  box-shadow: 0px 0px 5px #00000050;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  display: grid;
  gap: 36px;
  position: relative;
}

.listing {
  display: grid;
  gap: 12px;
}

.listing-form {
  display: grid;
  gap: 20px;
}

.half, .quarter {
  width: 100%;
}

.input-flex-group {
  display: grid;
  gap: 12px;
}

.three-cols {
  display: grid;
  gap: 12px;
}

.card.right > .upload-container {
  width: 100%;
  aspect-ratio: auto;
  height: 300px;
}

.auto-size {
  aspect-ratio: auto;
  width: 100%;
  height: 300px;
}

/* services listing */


@media screen and (min-width: 768px) {
  .half {
    width: 50%;
  }

  .quarter {
    width: 25%;
  }

  .three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .input-flex-group {
    display: flex;
    gap: 12px;
  }


}


/* Desktop */
@media screen and (min-width: 1024px) {
  main {
    padding: 0;
    margin: 0;
  }
  .main-wrapper {
    padding: 36px 24px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }

  p, input, .input {
    font-size: 14px;
  }

  /* Start Signup */

  .bg-fade {
    background-color: #ffffffe4;
    height: 100%;
    display: grid;
    place-content: center;
    gap: 20px;
    padding: 36px 24px; 
  }

  .wrap-box {
    padding: 20px;
    display: grid;
    gap: 20px;
    border-radius: 20px;
    width: 40vw;
    box-shadow: 0px 0px 10px #00000050;
  }

  /* End Signup */


  /* Start services listing */

  .card {
    background-color: white;
    box-shadow: 0px 0px 5px #00000050;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    display: grid;
    gap: 20px;
    position: relative;
  }
  .card.left {
    grid-column: span 3 / span 3;
    height: 100%;
  }
  .card.right {
    grid-column: span 2 / span 2;
    height: 100%;
  }
  .card.right > .upload-container {
    width: 100%;
    aspect-ratio: auto;
    height: 100%;
  }
  .card.right > .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }
  .listing-form {
    display: grid;
    gap: 24px;
  }
  .listing {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5, 1fr);
  }

  .half {
    width: 50%;
  }

  .quarter {
    width: 25%;
  }

  .three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .input-flex-group {
    display: flex;
    gap: 12px;
  }
  /* End services listing */

}