@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #022F8E;
  --secondary-color: #F2F2F2;
  /* --tertiary-color: # */
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  height: 100dvh;
  min-height: 100dvh;
  overflow: scroll;
}

main {
  position: relative;
  height: 100%;
  margin: 0 24px;
  padding: 24px 0;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  accent-color: var(--primary-color);
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18.6px;
  font-style: italic;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

p {
 font-weight: 400;
 font-size: 14px;
}

.secondary-btn {
  background-color: #022F8E10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.tertiary-btn{
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  background: none;
}

.primary-btn {
  color: white;
  background: var(--primary-color);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
}

.primary-btn:disabled {
  background-color: #022F8E50 ;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

input, .input {
  border: 1px solid #D0D5DD;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  gap: 8px;
  outline: none;
  width: 100%;
  padding: 10px 14px;
}

input:hover, input:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

input::placeholder {
  color: #00000050;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: none;
}

.blue {
  color: var(--primary-color)
}

.gray {
  color: #00000060;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #D0D5DD;
}

.toggle-background{
  border-radius: 9999px;
  background: var(--primary-color);
  width: 44px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 4px;
}

.switch {
  background: white;
  border-radius: 9999px;
  aspect-ratio: 1;
  width: 16px;
}

.paragraph {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.paragraph span {
  height: 20px;
}

.available {
  background-color: #017401;
  padding: 3px 12px;
  color: white;
  display: block;
  width: fit-content;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 6px;
}

.flex {
  display: flex;
  align-items: center;
}